  .navbar-nav.nav-link.homepage-nav-links {
    padding: 0 15px;
  }
  
  .navbar-toggler.homepage-navbar-toggler {
    border-color: white;
  }
  

  .nav-link.homepage-nav-link.active {
    border-bottom: 2px solid white;
  }
  
  .nav-link.homepage-nav-link {
    color: white !important;
    font-size: 18px;
    border-bottom: 5px solid transparent;
    text-decoration: none;
  }
  .nav-link.homepage-nav-link:hover {
    border-bottom: 2px solid white;
  }



  .notification-item {
    padding: 5px 0;
    transition: background-color 0.3s, color 0.3s;
  }
  .notification-item:hover {
    background-color: #f0f0f0;
    color: #007bff;
    cursor: pointer;
  }
  
  .notification-item_readed{
    background-color:#f0f0f0;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    max-height: 80%;  /* Optional: Limit max height to prevent modal from getting too large */
    overflow-y: auto; /* Allow vertical scrolling if the content is too long */
    word-wrap: break-word;  /* Ensures long words are wrapped to the next line */
    word-break: break-word; /* Ensures that long words are broken when needed */
    white-space: normal;  /* Makes sure that text wraps normally */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  









/* //// */
  .nav-item.dropdown-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
  }
  
  .dropdown-link {
    color: white;
    padding: 8px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-link:hover {
    background-color: #575757;
  }
  
  .nav-item.dropdown-wrapper:hover .dropdown-content {
    display: block;
  }
  